
.leaflet-container {
    font: inherit;
    outline: none;
    border-radius: 4px;
}

/* Custom Marker */
.travelnize-marker .tnz-marker-pin {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.35);
}