travelnize.lennips.de {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:8080
  }

  root * /srv
  try_files {path} /index.html
  file_server

  header {
    @fw path /_framework/*
    Cache-Control @fw "public, max-age=31536000, immutable"

    @assets {
      path_regexp assets \.(dll|pdb|wasm|js|mjs|css|json|png|jpg|jpeg|gif|svg|ico|woff2?)$
    }
    Cache-Control @assets "public, max-age=3600"
  }

  log {
    output stdout
    level INFO
  }
}